<h3>Сообщение с сайта $options[site_name] от $date</h3>
<table border="0" cellpadding="6" cellspacing="0">
<table>
<td align="left">Имя:</td><td align="right">$_POST[order_name]</td>
</tr>
<tr>
<td align="left">Телефон:</td><td  align="right">$_POST[order_phone]</td>
</tr>
<tr>
<td align="left">Email <span class="required">*</span>:</td><td  align="right">$_POST[order_email]</td>
</tr>
<tr>
<td colspan="2" align="left">Вопрос:</td></tr>
<tr><td colspan="2" align="left">$_POST[order_description]</td></tr></table>