<!-- IF not S_IS_BOT -->
		<!-- IF SCRIPT_NAME eq 'index' and forumrow.S_ROW_COUNT == 2 -->
		<li class="row" style="background-color:#DAE6ED;">
			<dl>
				<dt title="Google Adsense">
					<div class="list-inner" style="width:100%;">
					<span class="forum-image"><img src="./images/google.png" alt="Google Adsense"></span>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- forum2 -->
					<ins class="adsbygoogle"
					style="display:inline-block;width:728px;height:90px"
					data-ad-client="ca-pub-5538463974358536"
					data-ad-slot="6714888817"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
					</div>
				</dt>
			</dl>
		</li>
		<!-- ENDIF -->
		
		<!-- IF SCRIPT_NAME eq 'index' and forumrow.S_ROW_COUNT == 7 -->
		<li class="row" style="background-color:#DAE6ED;">
			<dl>
				<dt title="Google Adsense">
					<div class="list-inner" style="width:100%;">
					<span class="forum-image"><img src="./images/google.png" alt="Google Adsense"></span>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- forum2 -->
					<ins class="adsbygoogle"
					style="display:inline-block;width:728px;height:90px"
					data-ad-client="ca-pub-5538463974358536"
					data-ad-slot="6714888817"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
					</div>
				</dt>
			</dl>
		</li>
		<!-- ENDIF -->
		<!-- IF SCRIPT_NAME eq 'index' and forumrow.S_ROW_COUNT == 18 -->
		<li class="row" style="background-color:#DAE6ED;">
			<dl>
				<dt title="Google Adsense">
					<div class="list-inner" style="width:100%;">
					<span class="forum-image"><img src="./images/google.png" alt="Google Adsense"></span>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- forum2 -->
					<ins class="adsbygoogle"
					style="display:inline-block;width:728px;height:90px"
					data-ad-client="ca-pub-5538463974358536"
					data-ad-slot="6714888817"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
					</div>
				</dt>
			</dl>
		</li>
		<!-- ENDIF -->
<!-- ENDIF -->