.b-ico-blog {
    width: 64px;
    height: 64px;
    background-image: url("/image/blog.png")
}

.b-ico-forum {
    width: 64px;
    height: 64px;
    background-image: url("/image/forum.png")
}

.b-ico-irc {
    width: 64px;
    height: 64px;
    background-image: url("/image/irc.png")
}

.b-ico-pic {
    width: 64px;
    height: 64px;
    background-image: url("/image/pic.png")
}

.b-ico-music {
    width: 64px;
    height: 64px;
    background-image: url("/image/music.png")
}

.b-ico-video {
    width: 64px;
    height: 64px;
    background-image: url("/image/video.png")
}

.b-ico-proxy {
    width: 64px;
    height: 64px;
    background-image: url("/image/proxy.png")
}

.b-ico-dic {
    width: 64px;
    height: 64px;
    background-image: url("/image/dic.png")
}

.b-ico-book {
    width: 64px;
    height: 64px;
    background-image: url("/image/book.png")
}

.b-ico-mail {
    width: 64px;
    height: 64px;
    background-image: url("/image/mail.png")
}

.b-ico-admin {
    width: 64px;
    height: 64px;
    background-image: url("/image/admin.png")
}

.b-ico-hacker {
    width: 64px;
    height: 64px;
    background-image: url("/image/hacker.png")
}

.b-ico-camera {
    width: 64px;
    height: 64px;
    background-image: url("/image/camera.png")
}

.b-ico-disk {
    width: 64px;
    height: 64px;
    background-image: url("/image/disk.png")
}

.b-ico-time {
    width: 64px;
    height: 64px;
    background-image: url("/image/time.png")
}

.b-ico-spam {
    width: 64px;
    height: 64px;
    background-image: url("/image/spam.png")
}

.b-ico-google {
    width: 64px;
    height: 64px;
    background-image: url("/image/google.png")
}

.b-ico-virt {
    width: 64px;
    height: 64px;
    background-image: url("/image/virt.png")
}

.b-ico-vsalonu {
    width: 64px;
    height: 64px;
    background-image: url("/image/vsalonu.png")
}

.b-ico-misclub {
    width: 64px;
    height: 64px;
    background-image: url("/image/misclub.png")
}

.b-ico-top {
    width: 64px;
    height: 64px;
    background-image: url("/image/top.png")
}

.b-ico-afisha {
    width: 64px;
    height: 64px;
    background-image: url("/image/afisha.png")
}

.b-ico-moon {
    width: 64px;
    height: 64px;
    background-image: url("/image/moon.png")
}

.b-ico-torrent {
    width: 64px;
    height: 64px;
    background-image: url("/image/torrent.png")
}

.b-ico-foto {
    width: 64px;
    height: 64px;
    background-image: url("/image/foto.png")
}

.b-ico-game {
    width: 64px;
    height: 64px;
    background-image: url("/image/game.png")
}

.b-ico-vtanke {
    width: 64px;
    height: 64px;
    background-image: url("/image/vtanke.png")
}

.b-ico-domains {
    width: 64px;
    height: 64px;
    background-image: url("/image/domains.png")
}
