<!-- IF not S_IS_BOT -->
		<!-- IF SCRIPT_NAME eq 'index' and forumrow.S_ROW_COUNT == 2 -->
		<li class="row" style="background-color:#DAE6ED;">
			<dl>
				<dt title="Google Adsense">
					<div class="list-inner" style="width:100%;">
					<span class="forum-image"><img src="./images/google.png" alt="Google Adsense"></span>
					your adsense code goes here
					</div>
				</dt>
			</dl>
		</li>
		<!-- ENDIF -->
		
		<!-- IF SCRIPT_NAME eq 'index' and forumrow.S_ROW_COUNT == 7 -->
		<li class="row" style="background-color:#DAE6ED;">
			<dl>
				<dt title="Google Adsense">
					<div class="list-inner" style="width:100%;">
					<span class="forum-image"><img src="./images/google.png" alt="Google Adsense"></span>
					your adsense code goes here
					</div>
				</dt>
			</dl>
		</li>
		<!-- ENDIF -->
		<!-- IF SCRIPT_NAME eq 'index' and forumrow.S_ROW_COUNT == 18 -->
		<li class="row" style="background-color:#DAE6ED;">
			<dl>
				<dt title="Google Adsense">
					<div class="list-inner" style="width:100%;">
					<span class="forum-image"><img src="./images/google.png" alt="Google Adsense"></span>
					your adsense code goes here
					</div>
				</dt>
			</dl>
		</li>
		<!-- ENDIF -->
<!-- ENDIF -->