


<body style="margin:0px; padding:0px; background:#000;" >

<div id="head">
<div class="logotip"><a href="/"><img src="/images/design/logo_verh.png" class="logo" border="0"/></a>
</div>
<div class="main_menu_div">$main_menu</div>
</div>
<div id="line"></div>
<div id="girl_head">
	<div class="content_girl">
		<div class="logo_girl">
			<img src="/images/logo_cont.png"></br>
				профессиональные мастера</br>
				демократичные цены</br>
				достойный сервис</br>
		</div>
	</div>	
</div>
<div class="main_block">

           <div id="music"></div>

<div align="left" style="padding:27px;">$carousel[!webCMS main!]</div>
</div>

<div class="line_niz"><div class="venzel"></div></div>
<div class="main_width">
<div class="logotip"><a href="/"><img src="/images/design/logo_verh.png" class="logo" border="0"/></a></div>
<div id="main_menu_niz">$main_menu</div>





</div>
</div>
 $panel
<script language="javascript">
$music
</script>